* text=auto
square-fn.png filter=lfs diff=lfs merge=lfs -text
apple-touch-icon.png filter=lfs diff=lfs merge=lfs -text
favicon.png filter=lfs diff=lfs merge=lfs -text
function.png filter=lfs diff=lfs merge=lfs -text
